@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700&subset=latin,latin-ext);

.table-scrolled {
  width: 100%;
  display: block;
}

.table-scrolled tbody, .table-scrolled thead {
  width: 100%;
  display: block;
}

.table-scrolled tbody{
  overflow:auto;
  height: 300px;
}
.table-scrolled tbody tr, .table-scrolled thead tr {
  width: 100%;
  display: block;
}

.table-5-cols td, .table-5-cols th {
  display: inline-block;
  width: 19%;
}
.table-5-cols tbody{
  height: 100px;
}
.table-4-cols td, .table-4-cols th {
  display: inline-block;
  width: 24%;
}
.table-3-cols td, .table-3-cols th {
  display: inline-block;
  width: 32%;
}

.fill-ask-amount, .fill-bid-price {
  border-bottom: 1px dashed #333;
  cursor: pointer;
}

#bid-table tbody tr, #ask-table tbody tr {
  cursor: pointer;
}
#bid-table tbody tr:hover, #ask-table tbody tr:hover {
  background: #f0f0f0;
}

/**
 * SECTION: Bootstrap
 */

.notifications {
  position: fixed;
  z-index: 9999;
}
.highlight {
   background-color: #ffc;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}
/* Positioning */ 
.notifications.top-right {
  right: 10px;
  top: 25px;
}

.notifications.top-left {
  left: 10px;
  top: 25px;
}

.notifications.bottom-left {
  left: 10px;
  bottom: 25px;
}

.notifications.bottom-right {
  right: 10px;
  bottom: 25px;
}

/* Notification Element */
.notifications > div {
  position: relative;
  margin: 5px 0px;
}

.navbar
{
    height: 80px;
    background-color: #0d2f5c;
    border: 0;d
    border-radius: 0;
    border-bottom: 2px solid #333;
    margin-bottom: 0;
}

.navbar-default .navbar-nav>li>a
{
    color: #fff;
    line-height: 80px;
    padding-top: 0;
    padding-bottom: 0;
}
.navbar-default .navbar-nav>li>a:hover
{
    color: #f0f0f0;
}
.navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover
{
    background-color: transparent;
    color: #f0f0f0;
}
.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus, .navbar-default .navbar-nav>.open>a:hover
{
    background-color: #08264e;
    color: #f0f0f0;
}

.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover
{
    border: none;
}

.warning
{
    background-color: #fa5057;
}

.table-form tbody tr td
{
    padding: 20px 20px 20px 0px;
    border: 0;
    font-size: 15px;
}

.table-form tbody tr td input, .table-form tbody tr td select, .table-form tbody tr td textarea
{
    margin-top: -8px;
    border: 1px solid #f0f0f0;
    box-shadow: none;
    padding: 20px;
}
.table-form tbody tr td input:focus, .table-form tbody tr td select:focus, .table-form tbody tr td textarea:focus
{
    box-shadow: none;
}

.btn
{
    position: relative;
}

.btn-primary, .btn-primary:active, .btn-primary:focus, .btn-primary:hover:active
{
    background: rgba(72,144,239,1);
    background: -moz-linear-gradient(top, rgba(72,144,239,1) 0%, rgba(40,111,188,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(72,144,239,1)), color-stop(100%, rgba(40,111,188,1)));
    background: -webkit-linear-gradient(top, rgba(72,144,239,1) 0%, rgba(40,111,188,1) 100%);
    background: -o-linear-gradient(top, rgba(72,144,239,1) 0%, rgba(40,111,188,1) 100%);
    background: -ms-linear-gradient(top, rgba(72,144,239,1) 0%, rgba(40,111,188,1) 100%);
    background: linear-gradient(to bottom, rgba(72,144,239,1) 0%, rgba(40,111,188,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4890ef', endColorstr='#286fbc', GradientType=0 );
    border: none;
    border-bottom: 2px solid #214e78;
    padding: 8px 30px;
    outline: 0;
    font-size: 13px;
}

.btn-danger, .btn-danger:active, .btn-danger:focus, .btn-danger:hover:active
{
    background: rgba(250,91,96,1);
    background: -moz-linear-gradient(top, rgba(250,91,96,1) 0%, rgba(250,66,75,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(250,91,96,1)), color-stop(100%, rgba(250,66,75,1)));
    background: -webkit-linear-gradient(top, rgba(250,91,96,1) 0%, rgba(250,66,75,1) 100%);
    background: -o-linear-gradient(top, rgba(250,91,96,1) 0%, rgba(250,66,75,1) 100%);
    background: -ms-linear-gradient(top, rgba(250,91,96,1) 0%, rgba(250,66,75,1) 100%);
    background: linear-gradient(to bottom, rgba(250,91,96,1) 0%, rgba(250,66,75,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fa5b60', endColorstr='#fa424b', GradientType=0 );
    border: none;
    border-bottom: 2px solid #9a0312;
    padding: 8px 30px;
    outline: 0;
    font-size: 13px;
}

.btn-warning, .btn-warning:active, .btn-warning:focus, .btn-warning:hover:active
{
    background: rgba(250,218,91,1);
    background: -moz-linear-gradient(top, rgba(250,218,91,1) 0%, rgba(250,201,66,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(250,218,91,1)), color-stop(100%, rgba(250,201,66,1)));
    background: -webkit-linear-gradient(top, rgba(250,218,91,1) 0%, rgba(250,201,66,1) 100%);
    background: -o-linear-gradient(top, rgba(250,218,91,1) 0%, rgba(250,201,66,1) 100%);
    background: -ms-linear-gradient(top, rgba(250,218,91,1) 0%, rgba(250,201,66,1) 100%);
    background: linear-gradient(to bottom, rgba(250,218,91,1) 0%, rgba(250,201,66,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fada5b', endColorstr='#fac942', GradientType=0 );
    border: none;
    border-bottom: 2px solid #9a8a03;
    padding: 8px 30px;
    outline: 0;
    font-size: 13px;
}

.btn-success, .btn-success:active, .btn-success:focus, .btn-success:hover:active
{
    background: rgba(129,250,91,1);
    background: -moz-linear-gradient(top, rgba(129,250,91,1) 0%, rgba(79,193,44,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(129,250,91,1)), color-stop(100%, rgba(79,193,44,1)));
    background: -webkit-linear-gradient(top, rgba(129,250,91,1) 0%, rgba(79,193,44,1) 100%);
    background: -o-linear-gradient(top, rgba(129,250,91,1) 0%, rgba(79,193,44,1) 100%);
    background: -ms-linear-gradient(top, rgba(129,250,91,1) 0%, rgba(79,193,44,1) 100%);
    background: linear-gradient(to bottom, rgba(129,250,91,1) 0%, rgba(79,193,44,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#81fa5b', endColorstr='#4fc12c', GradientType=0 );
    border: none;
    border-bottom: 2px solid #357821;
    padding: 8px 30px;
    outline: 0;
    font-size: 13px;
}

.btn-info, .btn-info:active, .btn-info:focus, .btn-info:hover:active
{
    background: rgba(170,229,253,1);
    background: -moz-linear-gradient(top, rgba(170,229,253,1) 0%, rgba(139,207,232,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(170,229,253,1)), color-stop(100%, rgba(139,207,232,1)));
    background: -webkit-linear-gradient(top, rgba(170,229,253,1) 0%, rgba(139,207,232,1) 100%);
    background: -o-linear-gradient(top, rgba(170,229,253,1) 0%, rgba(139,207,232,1) 100%);
    background: -ms-linear-gradient(top, rgba(170,229,253,1) 0%, rgba(139,207,232,1) 100%);
    background: linear-gradient(to bottom, rgba(170,229,253,1) 0%, rgba(139,207,232,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#aae5fd', endColorstr='#8bcfe8', GradientType=0 );
    border: none;
    border-bottom: 2px solid #4ca1c1;
    padding: 8px 30px;
    outline: 0;
    font-size: 13px;
}

.btn-default, .btn-default:active, .btn-default:focus, .btn-default:hover:active
{
    background: rgba(230,230,230,1);
    background: -moz-linear-gradient(top, rgba(230,230,230,1) 0%, rgba(209,209,209,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(230,230,230,1)), color-stop(100%, rgba(209,209,209,1)));
    background: -webkit-linear-gradient(top, rgba(230,230,230,1) 0%, rgba(209,209,209,1) 100%);
    background: -o-linear-gradient(top, rgba(230,230,230,1) 0%, rgba(209,209,209,1) 100%);
    background: -ms-linear-gradient(top, rgba(230,230,230,1) 0%, rgba(209,209,209,1) 100%);
    background: linear-gradient(to bottom, rgba(230,230,230,1) 0%, rgba(209,209,209,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e6e6e6', endColorstr='#d1d1d1', GradientType=0 );
    border: none;
    border-bottom: 2px solid #aaa;
    padding: 8px 30px;
    font-size: 13px;
    outline: 0;
}

.btn-primary:active, .btn-primary:hover:active,
.btn-danger:active, .btn-danger:hover:active,
.btn-warning:active, .btn-warning:hover:active,
.btn-success:active, .btn-success:hover:active,
.btn-info:active, .btn-info:hover:active,
.btn-default:active, .btn-default:hover:active
{
    border-bottom-width: 1px;
}
.btn-primary.btn-bordered, .btn-primary.btn-bordered:focus, .btn-primary.btn-bordered:hover:active
{
    border: 2px solid #214e78;
    color: #214e78;
    background: none;
}


.btn-danger.btn-bordered, .btn-danger.btn-bordered:focus, .btn-danger.btn-bordered:hover:active
{
    border: 2px solid #9a0312;
    color: #9a0312;
    background: none;
}

.btn-warning.btn-bordered, .btn-warning.btn-bordered:focus, .btn-warning.btn-bordered:hover:active
{
    border: 2px solid #9a8a03;
    color: #9a8a03;
    background: none;
}

.btn-success.btn-bordered, .btn-success.btn-bordered:focus, .btn-success.btn-bordered:hover:active
{
    border: 2px solid #357821;
    color: #357821;
    background: none;
}
.btn-info.btn-bordered, .btn-info.btn-bordered:focus, .btn-info.btn-bordered:hover:active
{
    border: 2px solid #4ca1c1;
    color: #4ca1c1;
    background: none;
}
.btn-default.btn-bordered, .btn-default.btn-bordered:focus, .btn-default.btn-bordered:hover:active
{
    border: 2px solid #aaa;
    color: #aaa;
    background: none;
}

.btn-lg, .btn-lg:focus, .btn-lg:hover:active
{
    padding: 12px 45px;
    font-size: 16px;
}

.btn-sm, .btn-sm:focus, .btn-sm:hover:active
{
    padding: 6px 20px;
    font-size: 12px;
}
.btn-xs, .btn-xs:focus, .btn-xs:hover:active
{
    padding: 4px 15px;
    font-size: 11px;
}


.table-history tbody tr td
{
    padding: 15px 0px;
    font-size: 14px;
    border-color: #eeeeee;
    border-width: 1px;
}

.table-history tbody tr td .fa
{
    margin-right: 10px;
}

.table-history tbody tr:first-child td, .table-history tbody tr:last-child td
{
    border: 0;
}

.positive
{
    font-size: 1.1em;
    color: #73ba82;
}

.negative
{
    font-size: 1.1em;
    color: #ff505a;
}

.distanced-right
{
    padding-right: 60px;
    border-right: 1px solid #eeeeee;
}
.distanced-left
{
    padding-left: 60px;
}

.panel-heading
{
    font-size: 13px;
    border-bottom: 0;
}

.panel-primary,
.panel-success,
.panel-info,
.panel-warning,
.panel-danger
{
    border: none;
}
.panel-primary .panel-heading,
.panel-success .panel-heading,
.panel-warning .panel-heading,
.panel-danger .panel-heading
{
    color: #fff;
}

.panel-primary .panel-body,
.panel-success .panel-body,
.panel-info .panel-body,
.panel-warning .panel-body,
.panel-danger .panel-body
{
    border: 1px solid #ccc;
    border-top: none;
    border-radius: 0px 0px 6px 6px;
}

.panel-default .panel-heading
{
    background: rgba(230,230,230,1);
    background: -moz-linear-gradient(top, rgba(230,230,230,1) 0%, rgba(209,209,209,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(230,230,230,1)), color-stop(100%, rgba(209,209,209,1)));
    background: -webkit-linear-gradient(top, rgba(230,230,230,1) 0%, rgba(209,209,209,1) 100%);
    background: -o-linear-gradient(top, rgba(230,230,230,1) 0%, rgba(209,209,209,1) 100%);
    background: -ms-linear-gradient(top, rgba(230,230,230,1) 0%, rgba(209,209,209,1) 100%);
    background: linear-gradient(to bottom, rgba(230,230,230,1) 0%, rgba(209,209,209,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e6e6e6', endColorstr='#d1d1d1', GradientType=0 );
    border: none;
    border-bottom: 2px solid #aaa;
    font-size: 13px;
}

.panel-primary .panel-heading
{
    background: rgba(72,144,239,1);
    background: -moz-linear-gradient(top, rgba(72,144,239,1) 0%, rgba(40,111,188,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(72,144,239,1)), color-stop(100%, rgba(40,111,188,1)));
    background: -webkit-linear-gradient(top, rgba(72,144,239,1) 0%, rgba(40,111,188,1) 100%);
    background: -o-linear-gradient(top, rgba(72,144,239,1) 0%, rgba(40,111,188,1) 100%);
    background: -ms-linear-gradient(top, rgba(72,144,239,1) 0%, rgba(40,111,188,1) 100%);
    background: linear-gradient(to bottom, rgba(72,144,239,1) 0%, rgba(40,111,188,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4890ef', endColorstr='#286fbc', GradientType=0 );
    border: none;
    border-bottom: 2px solid #214e78;
    font-size: 13px;
}

.panel-danger .panel-heading
{
    background: rgba(250,91,96,1);
    background: -moz-linear-gradient(top, rgba(250,91,96,1) 0%, rgba(250,66,75,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(250,91,96,1)), color-stop(100%, rgba(250,66,75,1)));
    background: -webkit-linear-gradient(top, rgba(250,91,96,1) 0%, rgba(250,66,75,1) 100%);
    background: -o-linear-gradient(top, rgba(250,91,96,1) 0%, rgba(250,66,75,1) 100%);
    background: -ms-linear-gradient(top, rgba(250,91,96,1) 0%, rgba(250,66,75,1) 100%);
    background: linear-gradient(to bottom, rgba(250,91,96,1) 0%, rgba(250,66,75,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fa5b60', endColorstr='#fa424b', GradientType=0 );
    border: none;
    border-bottom: 2px solid #9a0312;
    font-size: 13px;
}

.panel-warning .panel-heading
{
    background: rgba(250,218,91,1);
    background: -moz-linear-gradient(top, rgba(250,218,91,1) 0%, rgba(250,201,66,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(250,218,91,1)), color-stop(100%, rgba(250,201,66,1)));
    background: -webkit-linear-gradient(top, rgba(250,218,91,1) 0%, rgba(250,201,66,1) 100%);
    background: -o-linear-gradient(top, rgba(250,218,91,1) 0%, rgba(250,201,66,1) 100%);
    background: -ms-linear-gradient(top, rgba(250,218,91,1) 0%, rgba(250,201,66,1) 100%);
    background: linear-gradient(to bottom, rgba(250,218,91,1) 0%, rgba(250,201,66,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fada5b', endColorstr='#fac942', GradientType=0 );
    border: none;
    border-bottom: 2px solid #9a8a03;
    font-size: 13px;
}

.panel-success .panel-heading
{
    background: rgba(129,250,91,1);
    background: -moz-linear-gradient(top, rgba(129,250,91,1) 0%, rgba(79,193,44,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(129,250,91,1)), color-stop(100%, rgba(79,193,44,1)));
    background: -webkit-linear-gradient(top, rgba(129,250,91,1) 0%, rgba(79,193,44,1) 100%);
    background: -o-linear-gradient(top, rgba(129,250,91,1) 0%, rgba(79,193,44,1) 100%);
    background: -ms-linear-gradient(top, rgba(129,250,91,1) 0%, rgba(79,193,44,1) 100%);
    background: linear-gradient(to bottom, rgba(129,250,91,1) 0%, rgba(79,193,44,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#81fa5b', endColorstr='#4fc12c', GradientType=0 );
    border: none;
    border-bottom: 2px solid #357821;
    font-size: 13px;
}

.panel-info .panel-heading
{
    background: rgba(170,229,253,1);
    background: -moz-linear-gradient(top, rgba(170,229,253,1) 0%, rgba(139,207,232,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(170,229,253,1)), color-stop(100%, rgba(139,207,232,1)));
    background: -webkit-linear-gradient(top, rgba(170,229,253,1) 0%, rgba(139,207,232,1) 100%);
    background: -o-linear-gradient(top, rgba(170,229,253,1) 0%, rgba(139,207,232,1) 100%);
    background: -ms-linear-gradient(top, rgba(170,229,253,1) 0%, rgba(139,207,232,1) 100%);
    background: linear-gradient(to bottom, rgba(170,229,253,1) 0%, rgba(139,207,232,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#aae5fd', endColorstr='#8bcfe8', GradientType=0 );
    border: none;
    border-bottom: 2px solid #4ca1c1;
    font-size: 13px;
}


/**
 * SECTION: Default
 */

html, body
{
    margin: 0px;
    padding: 0px;
    background-color: #e9f1f6;
    font-family: 'Open Sans', sans-serif;
    cursor: default;
}


h1, h2, h3, h4, h5, h6
{
    font-weight: 600;
    color: #0c3458;
}

h3
{
    font-size: 1.5em;
}

.mini-gap{height:10px; clear:both;}
.small-gap{height:20px; clear:both;}
.gap{height:40px; clear:both;}
.medium-gap{height:60px; clear:both;}
.big-gap{height:80px; clear:both;}


/**
 * SECTION: Header
 */
.navbar-brand
{
    width: 115px;
    height: 32px;
    background: transparent url(../images/logo.png) no-repeat center center;
    font-size: 0;
    margin: 24px 30px;
}

.navbar-form
{
    margin: 0;
    padding: 0;
}

.navbar-form input
{
    box-shadow: none;
    border-radius: 19px 0px 0px 19px;
    height: 40px;
    width: 280px;
    margin: 20px 0px 20px 60px;
    border: none;
    padding-left: 20px;
}
.navbar-form button
{
    box-shadow: none;
    border-radius: 0px 19px 19px 0px;
    height: 40px;
    margin: 20px 0px;
    width: 60px;
    border: none;
}

.navbar-nav li a
{
    position: relative;
}

.navbar-nav li .badge
{
    position: absolute;
    right: 0px;
    top: calc(50% - 20px);
}
.navbar-nav .dropdown img
{
    border: 2px solid #3982d7;
    border-radius: 25px;
    margin: 0px 10px 0px 5px;
}

.navbar-nav .dropdown .caret
{
    margin-left: 10px;
}

.navbar-default .navbar-nav .dropdown
{
    font-size: 11px;
}

/**
 * SECTION: Subheader
 */

#subheader
{
    background-color: #fff;
    min-height: 50px;
    line-height: 50px;
    font-size: 13px;
    font-weight: 400;
    color: #3b5b89;
    margin: 0;
}

#subheader em
{
    color: #2babeb;
    font-weight: 400;
    font-size: 14px;
    font-style: normal;
    cursor: default;
    margin: 0px 10px;
}

#subheader div div
{
    padding: 0px 60px 0px 30px;
}

#subheader .fa
{
    font-size: 16px;
    color: #2babeb;
}

/**
 * SECTION: content
 */

#content
{
    border-radius: 6px;
    background-color: #fff;
}

#content-inner
{
    padding: 0px 70px;
}

.nav-tabs
{
    min-height: 60px;
    border: none;
    border-radius: 6px 6px 0px 0px;
    background: rgba(11,37,64,1);
    background: -moz-linear-gradient(top, rgba(11,37,64,1) 0%, rgba(8,28,52,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(11,37,64,1)), color-stop(100%, rgba(8,28,52,1)));
    background: -webkit-linear-gradient(top, rgba(11,37,64,1) 0%, rgba(8,28,52,1) 100%);
    background: -o-linear-gradient(top, rgba(11,37,64,1) 0%, rgba(8,28,52,1) 100%);
    background: -ms-linear-gradient(top, rgba(11,37,64,1) 0%, rgba(8,28,52,1) 100%);
    background: linear-gradient(to bottom, rgba(11,37,64,1) 0%, rgba(8,28,52,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0b2540', endColorstr='#081c34', GradientType=0 );
}

.nav-tabs .special-links
{
    float: right;
    border-radius: 5px 5px 0px 5px;
    background: rgba(70,144,235,1);
    background: -moz-linear-gradient(top, rgba(70,144,235,1) 0%, rgba(40,112,188,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(70,144,235,1)), color-stop(100%, rgba(40,112,188,1)));
    background: -webkit-linear-gradient(top, rgba(70,144,235,1) 0%, rgba(40,112,188,1) 100%);
    background: -o-linear-gradient(top, rgba(70,144,235,1) 0%, rgba(40,112,188,1) 100%);
    background: -ms-linear-gradient(top, rgba(70,144,235,1) 0%, rgba(40,112,188,1) 100%);
    background: linear-gradient(to bottom, rgba(70,144,235,1) 0%, rgba(40,112,188,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4690eb', endColorstr='#2870bc', GradientType=0 );
}

.nav-tabs li
{
    height: 60px;
    font-size: 13px;
    border: 0;
    font-weight: 400;
    float: left;
}

.nav-tabs li span
{
    display: block;
    float: left;
    margin-top: -5px;
}

.nav-tabs li .fa
{
    margin-right: 10px;
}

.nav-tabs li a
{
    height: 60px;
    padding: 22px 25px 0px 25px;
    border: none;
    color: #fff;
    border-radius: 5px 5px 0px 0px;
    display: block;
}

.nav-tabs li a:hover, .nav-tabs li a:focus
{
    color: #f0f0f0;
    background: #041325;
}
.nav-tabs .special-links li a
{
    font-size: 11px;   
}

.nav-tabs .special-links li a:hover
{
    background: rgba(54,130,224,1);
    background: -moz-linear-gradient(top, rgba(54,130,224,1) 0%, rgba(23,99,176,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(54,130,224,1)), color-stop(100%, rgba(23,99,176,1)));
    background: -webkit-linear-gradient(top, rgba(54,130,224,1) 0%, rgba(23,99,176,1) 100%);
    background: -o-linear-gradient(top, rgba(54,130,224,1) 0%, rgba(23,99,176,1) 100%);
    background: -ms-linear-gradient(top, rgba(54,130,224,1) 0%, rgba(23,99,176,1) 100%);
    background: linear-gradient(to bottom, rgba(54,130,224,1) 0%, rgba(23,99,176,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3682e0', endColorstr='#1763b0', GradientType=0 );
    border-radius: 6px;
}

.nav-tabs li.active a, .nav-tabs li.active a:hover
{
    color: #2aabe5;
}

.nav-tabs li a .fa
{
    font-size: 14px;
    float: left;
}


.accounts-list
{
    list-style: none;
    margin: 0;
    padding: 0;
}

.accounts-list li
{
    float: left;
    width: 100%;
    background-color: #f8f8fa;
    padding: 0px 40px 0px 0px;
    height: 60px;
    line-height: 60px;
    border-radius: 6px;
    border-bottom: 3px solid #e3e3e3;
    cursor: pointer;
    margin: 0px 0px 30px 0px;
    color: #323234;
}

.accounts-list li .accounts-list-item-basics
{
    padding-left: 40px;
    background: #f1f1f1 url(../images/account-item-arrow.png) no-repeat center right;
    border-bottom: 3px solid #e3e3e3;
    height: 60px;
    
    border-radius: 6px 0px 0px 6px;
}

.accounts-list li .accounts-list-item-basics strong
{
    font-size: 15px;
    font-weight: 700;
    color: #29a4ea;
    margin-right: 40px;
}

.accounts-list li .accounts-list-item-basics span
{
    font-size: 15px;
}

.accounts-list li .accounts-list-item-balance strong
{
    color: #3276d9;
    font-size: 20px;
    margin: 0px 20px;
}
.accounts-list li .accounts-list-item-balance em
{
    font-style: normal;
    font-size: 16px;
}

/**
 * SECTION: banner
 */
#banner
{
    height: 140px;
    background: #f8f8fa url(../images/banner.png) no-repeat top left;
    position: relative;
}

#banner .btn
{
    position: absolute;
    right: 30px;
    top: 40px;
}

/**
 * SECTION: footer
 */
body > footer, #login-box > footer
{
    background: rgba(11,37,64,1);
    background: -moz-linear-gradient(top, rgba(11,37,64,1) 0%, rgba(9,29,53,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(11,37,64,1)), color-stop(100%, rgba(9,29,53,1)));
    background: -webkit-linear-gradient(top, rgba(11,37,64,1) 0%, rgba(9,29,53,1) 100%);
    background: -o-linear-gradient(top, rgba(11,37,64,1) 0%, rgba(9,29,53,1) 100%);
    background: -ms-linear-gradient(top, rgba(11,37,64,1) 0%, rgba(9,29,53,1) 100%);
    background: linear-gradient(to bottom, rgba(11,37,64,1) 0%, rgba(9,29,53,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0b2540', endColorstr='#091d35', GradientType=0 );
    min-height: 120px;
    color: #fff;
}

.fa.very-large
{
    font-size: 60px;
    float: left;
    margin: -15px 30px 0px 40px;
}

footer .info-number
{
    font-size: 23px;
    margin: 45px 0px 0px 0px;
    display: block;
    font-weight: 600;
    line-height: 15px;
    float: left;
}

footer .number-description
{
    font-size: 12px;
    font-weight: 400;
}

footer .copy
{
    line-height: 120px;
    font-size: 12px;
    margin-right: 50px;
    float: right;
}


/**
 * SECTION: login-box
 */

#login-box
{
    max-width: 440px;
    margin: 5% auto;
    border-radius: 6px;
    position: relative;
}

#login-box .navbar-header
{
    width: 100%;
}

#login-box .navbar-brand
{
    float: none;
    display: block;
    margin: 24px auto;
}

#login-box #subheader
{
    padding: 20px 20px 20px 30px;
}
#login-box nav
{
    border-radius: 6px 6px 0px 0px;
}
#login-box footer
{
    border-radius:0px 0px 6px 6px ;
    float:left;
    width: 100%;
    min-height: 40px;
}

#login-box .info-number
{
    margin: 20px auto;
    width: 190px;
    float: none;

}

#login-box .very-large
{
    font-size: 40px;
    margin: -5px 15px 0px 20px;
}

/**
 * RESP
 */
@media (min-width: 768px)
{
    .navbar>.container .navbar-brand
    {
        margin-left: 30px;
    }
    .navbar-form .form-control
    {
        width: 280px;
    }
    .navbar-right
    {
        margin-right: 30px;
    }
}

@media (max-width: 520px)
{
    #content-inner
    {
        padding: 0px 15px;
    }
    #subheader div div
    {
        padding: 0;
        text-align: center;
    }
    .accounts-list li
    {
        padding: 0;
        text-align: center;
        
    }
    .distanced-left
    {
        padding-left: 15px;
    }
    .info-number, footer .copy
    {
        width:100%;
        text-align: center;
        margin-right: 0;
    }
}
@media (max-width: 991px)
{
    .navbar-form
    {
        display: none;
    }
    .distanced-right
    {
        border-right: none;
    }
}